
/* reset css */
html{scroll-behavior: smooth;}
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
}

.clear-float{clear: both;}

.text-white{
        color: #fff;
}
#maincontent{   
        overflow: hidden;
}

.hide{ position: absolute;
        top: -999px;
        left: -999px;}

/* col n row */

.row{padding-right: -8px;
        padding-left: -8px;
        float: left;} 

.row::after{
        content: "";
        display: block;
        clear: both;
}
.col-1{width: 100%;}

.col-2{width: 50%;
        float: left;
                        ;}
        
.col-3{
        float: left;;
        width: 33.33333%;
}

/* padding all */
.padding-8{ padding: 8px;}

.padding-ud36{padding: 36px 0;}

.padding-r8{padding-right: 8px;}

.padding-l8{padding-left: 8px;}
.pbt-36{padding-top: 36px;
        padding-bottom: 36px;}
.pt-8{padding-top: 8px;}

/* margin all */
.mt-16{margin-top: 16px;}
.mt-8{margin-top: 8px;}

/* begin header */
#header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 2;
        background-color: black;
        
}

#nav{
        height: 46.5px;
        width: 100%;
}
#nav li{position: relative;}

#nav>li { 
        display: inline-block;
        color: #fff;
         }

#nav>li:hover > a{ 
        background-color: #ccc;
        color: #333;

        display: inline-block;        
}
#nav>li>a{
         color: #fff;
         text-decoration: none;
         text-transform: uppercase;
         padding: 0 24px ;
         line-height:46.5px ;
         
}    

#nav .subnav{
        display: none;
        position: absolute;
        left: 0px;
        width: 160px;;
}

#nav li:hover .subnav{
        display: block;
        background-color: #fff;
}

.subnav{    box-shadow: 0 0 10px rgba(0, 0, 0 , 0.5);
}

.subnav li{
        list-style: none;
        
}

.subnav li a
        {
        color: #333;
        text-decoration: none;
        line-height: 38.4px;
        padding: 0 16px;
        display: block;
        
        }

.subnav li:hover a{
        background-color: #ccc;
        ;
}

#nav-arrow-down{
        font-size: 12px;
}

#nav .search-icon:hover{
        background-color: #f44336;
        cursor: pointer;
       
}
.search-icon{
        height: 46px;
        width: 64px;
        color: #fff ;
        line-height: 46.5px;
       float: right;
       line-height: 46px;
       padding: 16px 24px;
       font-size: 12px;
     
}

 

#slider{
        margin-top: 46px;
        padding-top: 50%;
        background: url(/HTML-CSS/w3_band/assets/img/slider/slider1.jpg ) top center/ cover no-repeat ;
        position: relative;
        color: #fff;
        text-shadow: 0 0 1px #333;
}

#slider .text-slider{
        position: absolute;
        bottom: 0px;
        padding: 48px 0;
        width: 100%;
        text-align: center;
}

#slider .heading-slider{
        font-weight: 500;
        font-size: 24px;
        padding: 25px 0;
}

#slider .text-descript{
       
        font-size: 15px;

}

        /*end header  */

#content{
        min-height: 1000px;
}

.content-section{
        width: 800px;
        margin: 0 auto;
        padding: 64px 16px;
}

 .section-heading{
        letter-spacing: 4px;
        display: block;        
        font-size: 30px;
        font-weight: 500;
        margin: 10px 0;
        text-align: center;
        line-height: 46px;
}
 .section-subheading{
        font-style: italic;
        margin: 15px 0;
        text-align: center;
        font-size: 15px;
        opacity: 0.6;
        }

#content .section-text{
        text-align: justify;
        line-height: 20px;
        margin: 10px 0;
        font-size: 15px;             
}

#content .member-list{
        margin: 32px 0;
        float: left;
        text-align: center;
        
}

#content .member-img{
        border-radius: 4px;
        width: 60%;
}
#content .name-team{
        margin: 15px 0;
        font-size: 15px;
}

.section-background{
        background-color: black;
}
/* begin tickets */
.book-tickets{
        background-color: #fff;
        list-style: none;
        margin: 32px 0;
}

.book-tickets li{
        width: 100%;
        color:#757575;
        padding: 8px 16px;
        border-bottom: 1px  solid #ddd;
        font-size: 15px;
        line-height: 22px;
}

.sold-out{
        background-color: orangered;
        color: white;
        padding: 2px 8px;
        text-align: center;
        margin-left: 4px;
        box-sizing: border-box;
}

.quantity{
        float: right;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: black;
        color: white;
        line-height: auto;
        text-align: center;
        margin-right: 8px;
        margin-top: -1px;}

.img-text{
        margin-left: -8px;
        margin-right: -8px;
        padding: 32px 0;
}

.buy-tickets{
        padding: 12px 8px;
}

.place-img{
        width: 100%;
        display: block;
}

.place-img:hover{
        opacity: 0.6;
        color: #333;
}

.place-body{
        background-color: white;
        font-size: 15px;
        padding: 16px 16px;
        line-height: 1.4;

}

.city{
        margin:15px 0;
}

.day{
        margin:15px 0;
        opacity: 0.6;
}
.inf{
        margin:15px 0;

}
.buy{
        text-decoration: none;
        background-color: black;
        color: #fff;
        padding: 8px 16px;
        display: inline-block;
}

.buy:hover{
        color: black;
        background-color: #ddd;
}
/* end tickets */

/* begin modal */
.modal {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0 , 0.4);       
        align-items: center;
        justify-content: center;
        display: none;
    }

.modal.open{
        display: flex;
}

    .modal-container {
        background-color: #fff;
        width: 900px
    ;
        min-height: 400px
    ;
    position: relative;
    }

.modal-header{
        font-size: 30px;
        color: #fff;
        min-height: 130px
    ;
        background-color: #009688;
        align-items: center;
        display: flex;
        justify-content: center;
        letter-spacing: 5px;
    }

.modal-heading-shopping{
        margin-right: 12px;
}

.modal-close {
        position: absolute;
        color: white;
        right: 0;
        padding: 16px
    ;
        cursor: pointer;
        font-size: 12px;
    }

.modal-close:hover{
        color: black;
        background-color: white;
}

.modal-body{
        padding: 16px
    ;
    }
.modal-label{
        display: block;
        padding:15px 0;
        font-size:15px;
}

.modal-input{
        display: block;
        width: 100%;
        font-size:15px;
        box-sizing: border-box;
        padding: 8px ;
        border: 2px solid #ccc ;
        color: black;
}

#pay-tickets{
        padding: 16px;
        display: flex;
        background-color:#009688 ;
        color: white;                                   
        justify-content: center;
        margin-top: 20px;
}

#pay-tickets:hover{
        color: black;
        background-color: #ccc;
}

.need-help{
        padding: 15px;
        display: block;
        float: right;
        font-size: 15px;
        margin-bottom: 10px;
}

.need-help a{
        color: 
#2196F3
;
}

.item{margin-right: 20px;}

.address{
        font-size: 18px;
        line-height: 24px;
}

.form{font-size: 18px;}

.enroll{
 }

.message{
        width: 100%;
        border: 1px solid #ccc!important;
        height: 38px;        
        padding: 8px;


 }

.name, .email {
        padding: 8px;
        border: 1px solid #ccc!important;
        height: 38px;      
        width:100%          
}


.send-btn{
         float: right;
         background-color: #333;
         padding: 10px 16px;
        color: #fff;
         border: none;
         font-size: 16px;
         text-align: center;
 }

.send-btn:hover{
        background-color: #ccc;
        color: #333;
        cursor: pointer;
}

.name-email{
        padding-bottom: 8px;
}

/* map */
#footer{
        text-align: center;       
        height: 22px 0px; 
}
#footer p { 
        display: inline-block;
}
.icon{
        width: 40px;
        height: 40px;
        font-size: 24px;        
}
.icon:hover{
        color: rgba(0, 0, 0, 0.6);
}
/* contact in4 */
.social-network{
        padding-bottom: 16px;
}

.social-network p{
        padding: 0 8px;
}

.powered-by a{
        color: black;
        line-height: 32px;
}
/* end */

/* responsive */
#nav .mobile-menu{
        display: none;
        ;}
#nav-mobile-input:checked ~ .mobile-invisible{ 
        display: none;
}     
#nav-mobile-input{display:none ;}
 

/* RESPONISVE */
/* PC >1024 px */
@media (min-width: 1024px){}

/* Tablet >800px */
@media (min-width: 800px) and(max-width: 1024px){}

@media (max-width: 46.25em){
    /* menu */
        #nav > li{
        display:block;        
        }

        #nav > .mobile-menu{
        display: block ;
        float: right;
        color: #ddd;
        font-size: 28px;
        line-height: 46.5px;
        padding-right: 8px;
      
       }       
        #maincontent #nav .mobile-invisible{
                display: none;
        }
        /* member */
         #content .member-list-mobile{
        width: 100%;
        }
        .content-section{width: 100%;}
        .city-background{
                width: 100%;
                }
        /* buy ticket */
        .buy-tickets{width: 100%;
        }
        /* contact */
        .address, .enroll{
                width: 100%;
                line-height: 2;
        }
        .enroll{padding-top: 32px;}
        .name-email{width: 100%;}
        .enroll input{width: 100%;
        padding:0 8px;}
        .send-btn{height: 50px;
                padding-bottom: -8px
                ;}


}